services:
  db:
    image: pgvector/pgvector:pg18
    environment:
      POSTGRES_DB: esonge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

  app:
    image: leeanghoo2/pine-mushroom-shop:main
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@db:5432/esonge
      SQLALCHEMY_DATABASE_URL: postgresql://postgres:postgres@db:5432/esonge
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  db:
